

:root{
        --color-fundo: #839192;
        --color-shadow: #717D7E;
        --color-botao: #E90B0B;
    }

    body{
        background: url('https://cdnb.artstation.com/p/assets/images/images/014/665/033/original/yargon-kerman-webp-net-gifmaker-39.gif?1544919451');
        background-size: cover;
        background-position: center ;
        background-repeat: no-repeat;
        height:100vh;
        background-color: black;
        overflow-y:hidden;
        overflow-x:hidden;
    }

    .header-container{
        display: flex;
        justify-content: center;
        align-items: top;
        /*height:20vh;*/
        text-align:center;
    }

    .title{
        color: #0fcfd0;
        margin-top: 10%;
        font-size: 6em;
        font-family: 'Bebas Neue', cursive;
        text-shadow: 5px 5px 10px black
    }

    .tivit{
        width: 150px;
        position: absolute;
        top: 5px;
        right: 90%;
    }

    .op-container{
        display:flex;
        justify-content: space-around;
        flex-direction:row;
        align-items:flex-start;
        padding-top: 1.4em;
        
    }

    .alura-logo {
        width: 75px;
        position: absolute;
        top: 5px;
        right: 5px;
   }


    .select{
        height: 30px;
        margin-bottom: 25px;
        font-family: 'Roboto Mono', monospace;
    }

    .list-description, .filme-src{
        font-family: 'Roboto Mono', monospace;
    }

    .filmes{
        display: flex;	
        flex-direction:column;
        justify-content: center;
        align-items:center;
        
        height:25vh;
        width:450px;
        
        
        margin-left: 25px;	
        margin-top: 3%;
        
        background-color: rgba(184, 14, 251, 0.8);
        border: 2px solid #000;
        border-radius: 15px;
        box-shadow: 5px 5px 10px black
    }


    .botao{
        font-weight: bold;
        display:flex;
        justify-content: center;
        align-items:center;
        height: 50px;
        width: 280px;
        
        cursor: pointer;
        
        color: white;
        font-size: 1.5em;
        
        border: 2px solid #000;
        border-radius: 15px;
        background-color: #0fcfd0;
        
        box-shadow: 2.1px 2.1px #000;
    }

    #src-filmes{
        margin-top: 40px;
    }

    h2{
        font-size: xx-large;
        color: bisque;
        text-shadow: 2.5px 2.5px 0 #000;
        margin-bottom: 5%;
        margin-top: 0%;
    }

    button:hover{
        font-style: italic;
        background-color: #2d9e9e;
        transition: 0.3s;
        box-shadow: none;
    }

    IMG.displayed {
        display: block;
        margin-top: 1%;
        margin-left: auto;
        margin-right: auto;
        width: 300; 
    }

    .filme-grid{
        display: grid;
        grid-template-columns: repeat(4,240px);
        justify-content:space-around;
        align-content:center;
        gap: 1em;
        text-align: center;
    }

    #voltar{
        display:none;
        visibility:hidden;
        margin-top: -1%;
        margin-left: 42%;

    }

    a{
        color: white;
        font-family: 'Roboto Mono', monospace;
    }

    a:hover{
        color: #0fcfd0;
    }

    p{
        font-family: 'Roboto Mono', monospace;
    }

    .colocarFilmes{
        display: flex;	
        flex-direction:column;
        justify-content: center;
        align-items: center;
        
        height:50vh;
        width:550px;
        
        
        margin-left: 25px;	
        
        background-color: rgba(149, 165, 166, 0.8);
        border: 2px solid var(--color-shadow);
        border-radius: 15px;
        box-shadow: 5px 5px 10px black
    }

    #addPlat{
        margin-top:15px;
        margin-bottom:15px;
    }

    input{
        height: 18px;
    }

    label{
        font-family: 'Roboto Mono', monospace;
    }
